img {
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    text-align: center;
}

.text-block {
    background-color: rgba(0,0,0,0.2);
}

p {
    text-align: center;
}

.description {
    text-align: center;
}
